
<h1>Car Age Result Page</h1>
<p> This application is for Cars </p>
<!--params: <%=params.to_s%>-->
Your car is 
<% case params["input_age_of_car"] %>
    <% when 0..1980%>
    <%="Very Old!"%>
    <% when 1981..2000%>
    <%="Old!"%>
    <% when 2001..2015%>
    <%="New!"%>
  <% else %>
    <%="Futuristic!"%>
  <% end %>
  <!-- This is an HTML comment -->
  <%# This is an ERB comment %>
  <%# sinatra_temperature refers to URL path%>
  <!--
  <form action="/sinatra_temperature" method="post">
    <label for="temp_deg">Enter temperature here </label>
    <%#name=temp_deg refers to the param hash key name%>
    <%#hash value is the content of the text field%>
    <input type="text" placeholder="Degrees here" name="temp_deg">
    <input type="submit">
  </<form action="/car_age" method="post">
  <label for="input_age_of_car">Enter the age of your car:</label>
  <input type="text" placeholder="e.g. 1990" name="input_age_of_car">
  <input type="submit">
</form>

form>
  -->

